<div class="container">
  <div class="card-show-title" >
    <div class="banner-movie" style="background-image: url(https://www.myactingsite.com/wp-content/uploads/2017/05/0681410981006_p0_v1_s550x406.jpg)">
     <h1>Movie 🎬</h1>
    </div>
    <div class="abc">
     <h2><%= @list.name %></h2>
      <div>
        <% @list.bookmarks.each do |bookmark| %>
          <br>
          <br>
        <li>
          <%= bookmark.movie.title %>
          <br>
          <div>Movie overview :</div>
          <div class="abc-color">
            <%= bookmark.movie.overview %>
          </div>
          <br>
          <br>
          <div>My comment :</div>
         <div class="abc-color"><%= bookmark.comment %></div> --> <%= link_to "delete this movie ", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure???" } %>
        </li>
        <% end %>

        <br>
      </div>
    </div>
    <div class="link-container">
      <%= link_to "delete the list", list_path(@list), method: :delete, id: "delete-link", class: "hidden" %> <br>
         <br>
      <%= link_to "add a movie", new_list_bookmark_path(@list) %> <br>
        <br>
       <%= link_to "Go back home", lists_path %>
    </div>
  </div>
</div>
